@page
@model SistemaAcademico.Pages.Carreras.CreateModel
@{
}
<form method="post">
    <div class="form-group">
        <label asp-for="Carrera.Name"></label>
        <input asp-for="Carrera.Name" class="form-control" />
        <span asp-validation-for="Carrera.Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Carrera.Years"></label>
        <input asp-for="Carrera.Years" class="form-control" />
        <span asp-validation-for="Carrera.Years" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Carrera.Title"></label>
        <select asp-for="Carrera.Title"
            asp-items="@(new SelectList(Model.Titles))"
            class="form-control"
        >
            <option value="">Seleccione un titulo</option>
        </select>
        <span asp-validation-for="Carrera.Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Carrera.Modality"></label>
        <select asp-for="Carrera.Modality"
                asp-items="@(new SelectList(Model.Modalities))"
            class="form-control">
            <option value="">Seleccione una modalidad</option>
        </select>
        <span asp-validation-for="Carrera.Modality" class="text-danger"></span>

    </div>
    <button type="submit" class="btn btn-primary">Guardar</button>
</form>

