@page
@model SistemaAcademico.Pages.Carreras.DeleteModel
@{
}
<input type="hidden" asp-for="Carrera.Id" />

<form method="post">
	<h4>Eliminará esta carrera:</h4>

	<div>
		<strong>Nombre:</strong> @Model.Carrera.Name
	</div>
	<div>
		<strong>Modalidad:</strong> @Model.Carrera.Modality
	</div>
	<div>
		<strong>Duración:</strong> @Model.Carrera.Years
	</div>
	<div>
		<strong>Título otorgado:</strong> @Model.Carrera.Title
	</div>
	<br />
	<button type="submit" class="btn btn-danger">Eliminar</button>
	<a asp-page="Index" class="btn btn-secondary">Cancelar</a>
</form>