@page
@model SistemaAcademico.Pages.Carreras.EditModel
@{
}
<form method="post">
    <input type="hidden" asp-for="Carrera.Id" />
    <div class="form-group">
        <label asp-for="Carrera.Name"></label>
        <input asp-for="Carrera.Name" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Carrera.Years"></label>
        <input asp-for="Carrera.Years" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Carrera.Title"></label>
        <input asp-for="Carrera.Title" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Carrera.Modality"></label>
        <input asp-for="Carrera.Modality" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Guardar</button>
</form>