@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<style>
    body {
        background-image: url('/img/libreria.jpeg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
</style>

<div class="text-center">
    <h1 class="display-4">Hola!</h1>
    <p>Libreria</p>
</div>
